
body {
background-color: #EEF5FF;
font-family: "Nunito", sans-serif;;
font-size: 16px;
font-weight: lighter;
}

h1 {
font-size: 32px;
font-weight: 700;
font-family: "Fredoka", sans-serif;;
color: #F67280
}

h2 {
font-size: 24px;
font-weight: bolder;
font-family: "Nunito", sans-serif;;
color: #355C7D
}

a {
text-decoration: none;
font-weight: bold;
color: #F67280;
}

.card-w {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.3);
  padding: 32px;
  width: 700px;
  margin: 24px auto;
}

.img-circle {
  border-radius: 50%;
}

.btn-blue {
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #355C7D;
  color: white
}

.btn-blue:hover {
  color: #F67280;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 16px;
}

.text-center {
  text-align: center;
}

#intro h2 {
  margin-bottom: 64px;
}

#footer li {
  font-size: 34px;
}
